html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
}

header {
    width: 100%;
    padding: 8px 16px;
    background-color: #18B892;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 18px;
    font-weight: 800;
    color: white;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 16px;
}

header nav ul li a {
    color: white;
    font-weight: 800;
}

.container {
    margin: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 8px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    padding: 0 8px;
}